p {
    font-family: arial;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  .new-edit {
    color: rgb(245, 99, 0);
    font-size: 11px;
  }
  .mac-pro {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
  }
  .charge-edit {
    font-weight: bold;
    font-size: 29px;
    margin-top: 2px;
    margin-bottom: 0;
  }
  .money-dollar {
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: 13px;
  }
  .buy-button {
    text-align: center;
    background-color: rgb(30, 142, 254);
    border: none;
    color: white;
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
    border-radius: 15px;
  }