.flex-1{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.div-1{
    background-color: lightblue;
    width: 200px;
}

.div-2{
    background-color: lightpink;
    width: 75px;
}

.flex-2{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.div-3{
    background-color: lightblue;
    width: 50px;
}

.div-4{
    background-color: lightpink;
    flex: 1;
}

.div-5{
    background-color: lightblue;
    width: 75px;
}

.flex-3{
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content:space-between ;
}

.div-0{
    background-color:lightpink ;
}

.flex-4{
    display: flex;
    flex-direction:row;
    border: solid 2px rgb(195, 195, 195);
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.div-6,.div-7{
    background-color: lightpink;
}